.update_form_data_screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 78vw;
  row-gap: 20px;
}

.header_update_form_template {
  position: fixed;
  top: 10px;
  right: 10px;
  left: 22vw;
  height: 150px;
  background-color: #fff;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content_update_form {
  position: fixed;
  top: 170px;
  right: 10px;
  left: 22vw;
  bottom: 0;
  height: 1 flex;
  background-color: #fff;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 20px;
}

.filer_update_form_template {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-around;
  align-items: center;
}

.filer_update_form_template input {
  width: 100%;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.filer_update_form_template div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;
  width: 40%;
}

.filer_update_form_template button {
  width: 60px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  background-color: #f0f0f0;
  transition: 0.5s ease;
}

.filer_update_form_template button:hover {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

.header_update_form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  border-bottom: 1px solid #ccc;
}

.update_form_time_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  border-bottom: 1px solid #ccc;
}

.update_form_time {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  row-gap: 20px;
}

.machine_operator_in4 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.machine_operator_in4 input {
  height: 30px;
  width: 300px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.form_maintenance_detail_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  row-gap: 20px;
}

.field_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.field_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.field_header p {
  margin: 0;
}

.field_name {
  width: 50%;
}

.verify {
  width: 10%;
}

.corrective_action {
  width: 40%;
  display: flex;
  justify-content: center;
}

.requirement_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
}

.requirement_name {
  width: 50%;
}

.requirement_name p {
  margin: 0;
}

.requirement_verify {
  width: 10%;
}

.field_name p {
  font-weight: bold;
}

.verify p {
  color: green;
}

.corrective_action p {
  color: red;
}

.requiremet_correctvie_action {
  width: 40%;
}

.requiremet_correctvie_action input {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #ccc;
  border-top: none;
  border-left: none;
  border-right: none;
}

.footer_updated_form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  padding: 10px;
}

.footer_updated_form p {
  font-weight: bold;
}

.footer_updated_form input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.remark {
  width: 90%;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.remark_text {
  margin: 0;
}

.upload_image_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 2px dashed #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.upload_image_container input[type="file"] {
  margin-bottom: 20px;
}

.upload_image_container img {
  max-width: 500px;

  margin: 10px;
  border-radius: 5px;
}

.upload_image_container img {
  width: 400px;
  height: auto;
}