.detailscreen {
  position: fixed;
  top: 10px;
  right: 10px;
  left: 22vw;
  height: 150px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.detailsubtext {
  color: black;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  padding-left: 3%;
}
.detailbody {
  position: fixed;
  top: 170px;
  right: 10px;
  left: 22vw;
  overflow-y: scroll;
  overflow-x: hidden;
  bottom: 0;
  background-color: #fff;
}
.detailbodyheader {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
}
.detailbodytext {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding-top: 20px;
  padding-left: 30px;
}
.detaildata {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: normal;
  padding-right: 20px;
}
.detailimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-top: 2%;
}
.detailfieldhead {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
}

.detailfieldhead > div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.detailfieldhead > div > span,
.detailfieldhead > div > p {
  flex: 1 1 30%; /* Adjust this value as needed */
  text-align: left;
}
.drawline {
  border-top: 4px solid black;
  width: 140vh;
  height: 3px;
  margin-left: 30px;
}
.detailfoot {
  flex: 1.5;
  margin: "0 10px";
  font-weight: bold;
  padding-left: 3%;
  font-size: 18px;
}
.image-container {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 50% 50%;
  height: 500px; /* Adjust this as needed */
}

.image-0 {
  grid-column: 1;
  grid-row: 1 / span 2;
  object-fit: fill;
  width: 100%;
  height: 100%;
  padding-left: 3%;
}

.image-1,
.image-2 {
  grid-column: 2;
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.image-1 {
  grid-row: 1;
}

.image-2 {
  grid-row: 2;
}
.remark {
  border: 1px solid black; /* Adjust color and thickness as needed */
  padding: 4px; /* Adjust as needed */
  margin-left: 3%;
  margin-top: 2%;
  padding-bottom: 79px;
}
.remarktext {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding-left: 3%;
  text-decoration: underline;
  color: red;
}
.filterdetail {
  background: black;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  width: 100px;
}
.detailbodydaily {
  overflow-x: scroll;
  height: 100%;
  white-space: nowrap;
}
.tableelement {
  padding: 20px;
  border: 1px solid black;
}
