.managementscreen {
  width: 79vw;
  height: 20vh;
  background: white;
}
.headermanage {
  width: 79vw;
}

.managehead {
  color: red;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}
.managesubtext {
  color: black;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  padding-left: 3%;
}
.managecalendartext {
  color: black;
  font-family: "Inter", sans-serif;
  font-weight: normal;
}
.managesubtext2 {
  color: black;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  padding-left: 3%;
}
.manageinput {
  border: none;
  width: 100px;
}
.managedropdown {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
.filter {
  background: black;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  margin-left: 3%;
  width: 100px;
  text-align: center;
}
.managebody {
  margin-top: 30px;
  width: 78vw;
  height: 77vh;
  background: white;
}
.managetitle {
  margin-left: 3%;
  display: inline-block;
}
.managesubtext3 {
  color: black;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  padding-left: 3%;
  padding-top: 1%;
}
.managesubtext4 {
  color: black;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 14px;
  padding-top: 1%;
  padding-left: 3%;
}
.manageItem {
  display: flex;
  justify-content: space-between;
}

.managename {
  flex-basis: 20%;
}
.managenumber {
  flex-basis: 20%;
}
.managelasttime {
  flex-basis: 20%;
}
.managetype {
  flex-basis: 20%;
}
.manageoperator {
  flex-basis: 20%;
}
.drawline2 {
  border-top: 1.5px solid black;
  height: 2px;
  margin-right: 16px;
  margin-top: 12px;
  margin-bottom: 12px;
  width: 150;
}
