.templateallscreen {
  background-color: white;
  width: 78%;
  height: 100vh; /* Set the height to fill the viewport */
  overflow-y: auto; /* Enable vertical scrolling when the content overflows */
}

.table-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.table-container table {
  width: 80%; /* or any other percentage that suits your needs */
  max-width: 1000px; /* or any other pixel value that suits your needs */
}

.selected-row {
  background-color: #747476;
  color: white;
}

.centered-content {
  text-align: center;
}

.centered-table {
  margin-left: auto;
  margin-right: auto;
}
.buttontemplate {
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
}
.tableelementtemplate {
  padding: 10px;
  border: 1px solid black;
}

.content_update_form2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribute space evenly between items */
  font-size: 0.2em; /* Adjust the font size to make the content smaller */
}
.footer_updated_form2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footer_updated_form2 p {
  font-weight: bold;
}

.header_update_form2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  border-bottom: 1px solid #ccc;
}
