.div1_add_machine_data {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}
.div1_add_machine_data div {
  width: 22%;
}
.select_plant_add_machine {
  width: 50px !important;
}
.div1_add_machine_data div input {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 30px;
}
.div1_add_machine_data div p {
  font-weight: bold;
}

.spefication_added_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}
.header_spefication {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.header_spefication div:nth-child(1),
.header_spefication div:nth-child(2) {
  width: 40%;
}

.header_spefication div:nth-child(3) {
  width: 20%;
}

.header_spefication div {
  text-align: center;
  font-weight: bold;
}

.spefication_added_item {
  width: 98%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
  column-gap: 20px;
}

.spefication_added_item div:nth-child(1),
.spefication_added_item div:nth-child(2) {
  width: 40%;
}

.spefication_added_item div:nth-child(3) {
  width: 20%;
}

.spefication_added_item div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spefication_added_item div input {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 30px;
}
.spefication_added_item div button {
  width: 100px;
  height: 30px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}

.footer_add_spefication {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.footer_add_spefication button {
  width: 100px;
  height: 30px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
}

.header_add_spare_part_for_machine {
  width: 90%;
  padding-left: 20px;
  margin-top: 20px;
}
.header_add_spare_part_for_machine p:nth-child(1) {
  font-weight: bold;
}
.search_spare_part_container_used {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: max-content;
  margin-top: 20px;
}

.header_list_spare_part_for_machine_maintenance {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}
.header_list_spare_part_for_machine_maintenance div {
  width: 18%;
  display: flex;
  justify-content: center;
  font-weight: bold;
}
.item_spare_part_for_machine_management {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}
.item_spare_part_for_machine_management div {
  width: 18%;
  display: flex;
  justify-content: center;
}

.input_code {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.item_spare_part_for_machine_management button {
  width: 100px;
  height: 30px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}

.additional_data {
  width: 100%;
  padding-left: 20px;
  margin-top: 20px;
}

.additional_data p {
  font-weight: bold;
}

.additional_data textarea {
  width: 80%;
  height: 100px;
  border-radius: 6px;
}

.btn_container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn_add_specifiation {
  width: 30px;
  height: 30px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  align-self: center;
}

.each_specification_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.each_specification_container input {
  width: 40%;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 30px;
}

.each_specification_container button {
  width: 30px;
  height: 30px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

.list_template_container {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 10px;
}

.list_template_container div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;
}

.list_template_container div button {
  width: 100px;
  height: 30px;
  background-color: black;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.add_img_big_container {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
  border: 1px solid #000;
  border-radius: 8px;
  margin-left: 2vw;
  height: 80vh;
}

.section_add_image_right {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sub_section_add_image_right {
  width: 100%;
  height: 48%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.section_add_image_left {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 10px;
}

.display_img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  border: 1px solid #e0e1dd;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.display_img img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
