.search_spare_part_container_used {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: max-content;
}
.machine_table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}

.machine_table thead {
  background-color: #f2f2f2;
}

.machine_table th,
.machine_table td {
  padding: 12px;
  border: 1px solid #ddd;
}

.machine_table th {
  background-color: #4caf50;
  color: white;
}

.machine_table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.machine_table tr:hover {
  background-color: #f1f1f1;
}
.machine_management_table_link {
  color: #007bff;
  text-decoration: none;
}

.machine_management_table_link:hover {
  text-decoration: underline;
}
