.machine_detail_input_code {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.machine_detail_input_code p {
  color: red;
}

.general_information_detail_machine {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}
.general_information_detail_machine div {
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  border-bottom: 1px solid #000000;
}
.display_plant_machine_detail {
  width: 50px !important;
}

.general_information_detail_machine div p,
h4 {
  margin: 0px;
}
.machine_data_big_container {
  width: 100%;
}

.spefication_container_machine_detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.header_spefication_machine_detail {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header_spefication_machine_detail div {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: bold;
}

.each_spefication_machine_detail {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
  border-bottom: 1px solid #6c757d;
}

.each_spefication_machine_detail div {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.list_spare_part_for_maintenacne_machine_detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.header_spare_part_machine_detail {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header_spare_part_machine_detail div {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: bold;
}
.each_spare_part_machine_detail {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
  border-bottom: 1px solid #6c757d;
}
.each_spare_part_machine_detail div {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.additional_data_machine_detail {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 20px;
  margin-top: 20px;
}

.additional_data_machine_detail textarea {
  width: 100%;
  height: 50px;
}

.display_image_machine_detail {
  width: 95%;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin-left: 2vw;
  border: 1px solid #6c757d;
  border-radius: 8px;
}

.section_display_image_machine_detail {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  height: 100%;
}

.display_image_machine_detail_1 {
  height: 100%;
  width: 100%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display_image_machine_detail_1 img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.display_image_machine_detail_2 {
  height: 49%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display_image_machine_detail_2 img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
