.machine-detail-container {
  margin: 20px;
}

.machine-detail {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.specification-table {
  width: 100%;
  border-collapse: collapse;
}

.specification-table,
.specification-table th,
.specification-table td {
  border: 1px solid #ddd;
}

.specification-header {
  background-color: #f4f4f4;
}

.specification-row:nth-child(odd) {
  background-color: #fafafa;
}

.specification-row:nth-child(even) {
  background-color: #eaeaea;
}

.specification-table th,
.specification-table td {
  padding: 8px;
  text-align: left;
}
/* General styling for the sections */
.section-container {
  margin-bottom: 20px;
}

.section-title {
  margin-bottom: 10px;
  color: #333;
  font-size: 20px;
  font-weight: bold;
}

/* Styling for the lists */
.section-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.section-list li {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.section-list li:last-child {
  border-bottom: none;
}

/* Styling for the list items */
.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.list-item-code {
  font-weight: bold;
  color: #555;
}

.list-item-name {
  margin-left: 10px;
  flex-grow: 1;
  color: #555;
}

.list-item-quantity {
  background-color: #e7f4e4;
  color: #397a34;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 14px;
}

/* Styling for the form elements */
.maintenance-form {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.maintenance-form h3 {
  margin-top: 0;
}

.maintenance-form table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

.maintenance-form th,
.maintenance-form td {
  padding: 10px;
  border: 1px solid #ddd;
}

.maintenance-form th {
  background-color: #f2f2f2;
  text-align: left;
}

.maintenance-form td {
  text-align: left;
}

.maintenance-form button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.maintenance-form button:hover {
  background-color: #218838;
}

.additional-data {
  margin-top: 20px;
}

.additional-data h3 {
  margin-bottom: 10px;
}

.additional-data ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.additional-data ul li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.additional-data ul li:last-child {
  border-bottom: none;
}

.additional-data button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.additional-data button:hover {
  background-color: #0056b3;
}
